{
  "presets": [
    ["env", {"modules": false}]
  ],
  "plugins": ["transform-object-rest-spread", "external-helpers"],
  "env": {
    "test": {
      "presets": ["env", "react"]
    },
    "rollup": {
      "presets": [["env", {"modules": false}], "react"]
    },
  }
}
